[project]
	description = Simple blog to play around with Express.js and Backbone
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vitor Pellegrino (pellegrino)
[access "refs/for/refs/*"]
	read = group user/Vitor Pellegrino (pellegrino)
	push = group user/Vitor Pellegrino (pellegrino)
	label-Code-Review = -2..+2 group user/Vitor Pellegrino (pellegrino)
	label-Verified = -1..+1 group user/Vitor Pellegrino (pellegrino)
	rebase = group user/Vitor Pellegrino (pellegrino)
	removeReviewer = group user/Vitor Pellegrino (pellegrino)
	submit = group user/Vitor Pellegrino (pellegrino)
[access "refs/heads/*"]
	read = group user/Vitor Pellegrino (pellegrino)
	create = group user/Vitor Pellegrino (pellegrino)
	push = +force group user/Vitor Pellegrino (pellegrino)
	pushMerge = group user/Vitor Pellegrino (pellegrino)
[access "refs/tags/*"]
	push = +force group user/Vitor Pellegrino (pellegrino)
	pushTag = group user/Vitor Pellegrino (pellegrino)
	pushSignedTag = group user/Vitor Pellegrino (pellegrino)
