extends layout

block templates
  script(type="text/template", id="template-posts")
    <ul></ul>

  script(type="text/template", id="template-post")
    <p><%= author %></p><%= title %>

block content
  hgroup 
    h1= title
    h2 Welcome to #{title}

  #container

block javascript
  script
    $(function () {
      BlogApplication.initialize();
    });
